<!DOCTYPE html>
 <html>
  <head>
    <title>SchoolTube</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body ng-app="schoolTube" style="padding:25px">

  <ui-view></ui-view>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>SchoolTube</h1>
    </div>

      <div>Search: <input type='text' ng-model='search'/><br></div>
      <h2>Most Popular Videos</h2>
      <div class="most-pop" ng-repeat="post in posts | filter:search | orderBy: '-likes' | limitTo: 5">
          {{$index+1}}) 
        <a href="#/posts/{{$index}}" style="font-size:20px;">
          {{post.title}} 
        </a> 
        <div>
          <span class="author_likes">
            Uploaded by {{post.author}} ({{post.likes}})
          </span>
        </div>
      </div>

      <form class="vert-space" action="#/upload" class="form-group">
        <input class="btn btn-primary" type="submit" value="Upload"/>
      </form>
    </div>
</script>

<script type="text/ng-template" id="/posts.html">
  <h4><a href="#/home">Home</a></h4>
  <div class="page-header">
    <h2>{{post.title}}</h2>
    <div>
      <iframe width="560" height="315"
        ng-src="{{post.video}}">
      </iframe>
    </div>
    <div style="margin-bottom: 20px;">
      <span style="font-size:20px; margin-left:10px; margin-right:20px;">
        Uploaded by {{post.author}}
      </span>
      <span style="font-size:15px;" class="glyphicon glyphicon-thumbs-up" ng-click="like(post)"></span>
        {{post.likes}}
    </div>

  <div ng-repeat="comment in post.comments | orderBy:'-likes'">
    <span style="font-size:15px; margin-left:10px; color:#4286F4;">
      {{comment.author}} 
    </span>
    <div style="font-size:15px; margin-left:10px;">{{comment.body}}</div>
    <div style="margin-left:10px" class="glyphicon glyphicon-thumbs-up" ng-click="like(comment)"></div>
    <span style="margin-left:5px">{{comment.likes}}</span>
  </div>
    <form ng-submit="addComment()"
    style="margin-top:20px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text" style="width:50%;" 
      class="form-control"
      placeholder="Comment"
      ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>
</script>

<script type="text/ng-template" id="/upload.html">
  <h4><a href="#/home">Home</a></h4>
  <h2>Upload a new video</h2>
    <form class="form-group vert-space" ng-submit="addPost()">
      Title: <input type="text" ng-model="title"></input><br>
      Author: <input type="text" ng-model="author"></input><br>
      Description: <input type="text" ng-model="description"></input><br>
      Link to video: <input type="text" ng-model="video"></input><br>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</script>

</body>
</html>