<!-- Framework of website developed using tutorial at https://thinkster.io/mean-stack-tutorial -->
<!DOCTYPE html>
 <html>
  <head>
    <title>SchoolTube</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body ng-app="schoolTube">
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>

  <ui-view></ui-view>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>SchoolTube</h1>
      <div class="searchBar"> Search: <input type='text' ng-model='searchText'/></input><br>
        <input type="radio" ng-model='searchTag' value="Math"/> Math </input>
        <input type="radio" ng-model='searchTag' value="Science"/> Science </input>
        <input type="radio" ng-model='searchTag' value="English"/> English </input>
        <input type="radio" ng-model='searchTag' value=''/> No filter </input>
      <br></div>

      <h2>Most Popular Videos</h2>
      <div class="most-pop" ng-repeat="post in posts | filter:searchText | filter:{tag:searchTag} | orderBy: '-likes' | limitTo: 5">
        <a href="#/posts/{{post._id}}" class="font-20">
          {{post.title}} 
        </a> 
        <div>
          <span ng-show="post.author"> 
            Uploaded by <a ng-click="profile(post.author)">{{post.author}}</a> | 
          </span>
          <span class="glyphicon glyphicon-thumbs-up" ng-click="like(post)"></span> {{post.likes}} 
          <span class="glyphicon glyphicon-thumbs-down" ng-click="dislike(post)"></span> 
          <span ng-show="post.tag">
            <br>Tag: {{post.tag}}
          </span>
        </div>
      </div>
      <form class="form-group vert-space" action="#/allVideos">
        <input class="btn btn-primary" type="submit" value="See All"/>
      </form>
      <br>
      <form class="form-group vert-space" action="#/upload" ng-show="isLoggedIn()">
        <input class="btn btn-primary" type="submit" value="Upload"/>
      </form>

      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="/allVideos.html">
    <div class="page-header">
      <h1>SchoolTube</h1>
      <div class="searchBar"> Search: <input type='text' ng-model='searchAllText'/></input><br>
        <input type="radio" ng-model='searchAllTag' value="Math"/> Math </input>
        <input type="radio" ng-model='searchAllTag' value="Science"/> Science </input>
        <input type="radio" ng-model='searchAllTag' value="English"/> English </input>
        <input type="radio" ng-model='searchAllTag' value=''/> No filter </input>
      <br></div>

      <h2>All Videos</h2>
      <div class="most-pop" ng-repeat="post in posts | filter:searchAllText | filter:{tag:searchAllTag} | orderBy: '-likes'">
        <a href="#/posts/{{post._id}}" class="font-20">
          {{post.title}} 
        </a> 
        <div>
          <span ng-show="post.author"> 
            Uploaded by <a>{{post.author}}</a> | 
          </span>
          <span class="glyphicon glyphicon-thumbs-up" ng-click="like(post)"></span>
          <span class="glyphicon glyphicon-thumbs-down" ng-click="dislike(post)"></span> {{post.likes}}
          <span ng-show="post.tag">
            <br>Tag: {{post.tag}}
          </span>
        </div>
      </div>

      <form class="form-group vert-space" action="#/home">
        <input class="btn btn-primary" type="submit" value="Back to Home"/>
      </form>
    </div>
  </script>

<script type="text/ng-template" id="/posts.html">
  <h4><a href="#/home">Home</a></h4>
  <div class="page-header">
    <h2>{{post.title}}</h2>
    <div>
      <iframe width="560" height="315"
        ng-src="{{post.video}}">
      </iframe>
    </div>
    <div class="vert-space">
      <span class="author-upload">
        Uploaded by {{post.author}} ({{post.likes}})
      </span>
    </div>
    <div class="description-tag">
      <span>Description: {{post.description}}</span><br>
      <span ng-show="post.tag">Tag: {{post.tag}}</span>
    </div>
  </div>

  <div ng-repeat="comment in post.comments | orderBy:'-likes'">
    <span class="comment-author">
      {{comment.author}} 
    </span>
    <div class="comment-body=">{{comment.body}}</div>
    <div class="glyphicon glyphicon-thumbs-up comment-like-button" ng-click="like(comment)"> </div>
    <div class="glyphicon glyphicon-thumbs-down comment-like-button" ng-click="dislike(comment)"></div>
    <span class="comment-like-num">{{comment.likes}}</span>
  </div>

    <form ng-submit="addComment()" ng-show="isLoggedIn()" class="vert-space">
      <h3>Add a new comment</h3>
      <div class="form-group">
        <input type="text" class="small-text-field" 
        class="form-control"
        placeholder="Comment"
        ng-model="body"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>

    <div ng-hide="isLoggedIn()">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
    </div>
</script>

<script type="text/ng-template" id="/upload.html">
  <h4><a href="#/home">Home</a></h4>
  <h2>Upload a new video</h2>
    <form class="form-group vert-space" ng-submit="addPost()">
      Title: <input type="text" ng-model="title"></input><br>
      Description: <input type="text" ng-model="description"></input><br>
      Link to video: <input type="text" ng-model="video"></input><br>
      Tag: <input type="radio" name="subject" value="Math" ng-model="tag"> Math</input>
           <input type="radio" name="subject" value="Science" ng-model="tag"> Science</input>
           <input type="radio" name="subject" value="English" ng-model="tag"> English</input><br><br>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</script>

<script type="text/ng-template" id="/register.html">
  <div class="page-header">
    <h1>SchoolTube</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()" class="big-top-space small-text-field">
    <h3>Register</h3> 

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</script>

<script type="text/ng-template" id="/login.html">
  <div class="page-header">
    <h1>SchoolTube</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()" class="big-top-space small-text-field">
    <h3>Log In</h3> 

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</script>

<script type="text/ng-template" id="/users.html">
  <div class="page-header">
    <h2> Hello end</h2>
      <div ng-repeat="post in posts"> 
        <span>{{post.author}}</span><br>
      </div>
      <form class="form-group vert-space" action="#/home">
        <input class="btn btn-primary" type="submit" value="Back to Home"/></input>
      </form>

</script>
</body>
</html>











