body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.most-pop {
	margin-top: 10px;
}

.author_likes {
	font-size:15px; 
	margin-left:10px;
}

.vert-space {
	margin-top: 15px;
}

.big-top-space {
	margin-top: 30px;
}

.small-text-field {
	width: 30%;
}

.comment-author {
	font-size:15px; 
	color:#4286F4;
}

.comment-body {
	font-size:15px; 
	margin-left:20px;
}

.comment-like-button {
	margin-left:10px;
}

.comment-like-num {
	margin-left: 5px;
}

.font-20 {
	font-size: 20px;
}

.author-upload {
	font-size: 20px; 
	margin-left: 10px;
}

.description-tag {
	margin-bottom: 15px; 
	margin-left:15px;
}