body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.most-pop {
	margin-top: 10px;
}

.author_likes {
	font-size:15px; 
	margin-left:10px;
}

.vert-space {
	margin-top: 15px;
}